
@font-face {
    font-family: 'Bellota-LightItalic';
    src: url('../../fonts/Bellota-LightItalic.otf') format('opentype');
}

@font-face {
    font-family: 'Bellota-BoldItalic';
    src: url('../../fonts/Bellota-BoldItalic.otf') format('opentype');
}


body {
    padding-top: 70px;
    padding-bottom: 20px;
    background-color:lightgray;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.navbar {
    background-color: #20aae5;
    border-bottom: 4px solid #1894ca;
}

.navbar-brand {
    font-family: 'Bellota-BoldItalic';
    font-size: 2em;
}


/* Bootstrap Overrides */
.nav > li > a {
    padding: 10px 5px 5px 5px;
}

.navbar-default .navbar-nav > li > a {
    color: white;
}

.nav.navbar-nav.navbar-right li:hover {
    border-bottom: 2px solid orange;
    cursor:pointer;
}

.nav.navbar-nav.navbar-right li:hover a {
    color:white;
}

/* Resuable */

.marTop5 {
    margin-top: 5px;
}

/* Home Page */

#userDetails{
    width:250px;
    background-color:white;
    padding:15px;
}

#postArea{
    background-color:white;
    padding:15px;
}

#btnPost{
    padding:15px;
}