@font-face {
  font-family: 'Bellota-LightItalic';
  src: url('../../fonts/Bellota-LightItalic.otf') format('opentype');
}
@font-face {
  font-family: 'Bellota-BoldItalic';
  src: url('../../fonts/Bellota-BoldItalic.otf') format('opentype');
}
body {
  background-image: url('../Images/Other/back.jpg');
  background-position: center;
  background-size: cover;
}
#loginForm {
  font-family: "Bellota-LightItalic", sans-serif;
  border: 5px solid white;
  border-radius: 10px;
  padding-bottom: 20px;
  background-color: white;
  width: 500px;
  margin: 0 auto;
  margin-top: 60px;
}
#loginForm .loginUpper {
  background-color: #3498db;
  padding: 10px;
  font-size: 1.3em;
}
#loginForm .loginUpper .brand {
  font-family: "Bellota-BoldItalic", sans-serif;
  margin: 0;
  color: #2c6c96;
  text-shadow: #000 0.5px 0.5px 0.5px;
}
#loginForm .loginUpper p {
  color: white;
}
#loginForm .form {
  padding: 10px;
  padding-top: 30px;
}
#loginForm .form .form-group .input-group {
  width: 350px;
  margin-bottom: 10px;
}
#loginForm .form .form-group .input-group span {
  position: relative;
  top: -0.4px;
}
#loginForm .form #btnLogin {
  position: relative;
  left: 20px;
  margin-top: 10px;
}